#EditAreaCointainer {
    display: flex;
    flex-flow: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#EditArea {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 75vh;
    background-color: #E6E9C9;
    align-items: center;
    height: auto;
    min-height: 75vh;
}

h2 {
    width: 50vw;
    padding: 0;
    margin-left: 0;
    align-content: center;
    font-family: monospace;
}

#TextArea {
    width: 95%;
    min-height: 20%;
    height: auto;
    /* background-color: linen; */
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#Text {
    width: 100%;
    height: 100%;
    margin: 0;
    word-wrap: break-word;
}

#Cursor {
    display: inline;
    margin: 0;
}

#Text::after {
    content: attr(data-end);
    color: #835C3B;
}

#Buttons {
    position: relative;
    margin-top: auto;
    margin-bottom: 1vh;
}


/* 
#Cursor {
    display: inline-flex;
    margin: 0;
    width: 1.5%;
    height: 2.5%;
    background-color: black;
    z-index: 2;
    position: relative;
} */