<div id="EditAreaCointainer">
    <h2>Note</h2>
    <div id="EditArea">
        <div id="TextArea" style="background-color: {{backgroundColor}}">
            <div id="Text" float="left"></div>
        </div>
        <div id="Buttons">
            <button float="left">Save File</button>
            <!-- <form method="post" action="http://localhost:80/load_file.php" enctype="multipart/form-data"> -->
            <input type="file" name="givenFile" placeholder="Load File" />
            <!-- <input type="text" name="nicho" placeholder="Load File" /> -->
            <!-- <input type="submit" value="da" /> -->
            <!-- </form> -->
        </div>
    </div>
</div>